<div class="card">
    <div class="card-body">
        <div id="testimonialCarousel" class="testimonial-carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="testimonial-content">CONTACT ME</h1>
                    <p>I love to serve people with the best of my knowledge.</p>
                    <img src="assets/images/2.jpeg" alt="profile" class="testimonial-img"><br><br>
                    <button class="btn btn-download-cv btn-primary rounded-pill" (click)="showSuccessPopup()"> HIRE ME 
                    </button>
                    <nav class="social-links">
                        <a href="#!" class="social-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="#!" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="#!" class="social-link"><i class="fab fa-instagram"></i></a>
                        <a href="#!" class="social-link"><i class="fab fa-dribbble"></i></a>
                        <a href="https://github.com/Thiana19" class="social-link"><i class="fab fa-github"></i></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div><br>
<footer>© Copyright 1993-2023 | All Right Reserved | By Mamadou Thiana Cisse</footer>
