<section class="intro-section">
    <h2 class="section-title">SUMMARY</h2>
    <p>Highly motivated Junior Software Engineer with a strong foundation in computer science and programming. 
        Leveraging expertise in software development and problem-solving to excel in the role of Executive Software 
        Engineer. Proven ability to deliver high-quality solutions in fast-paced environments. Skilled in multiple 
        programming languages, agile methodologies, and collaborative teamwork. Committed to continuous learning and
         adapting to new technologies. Adept at analyzing complex technical issues and implementing effective solutions.
          Excellent communication and interpersonal skills, enabling seamless collaboration with cross-functional teams. 
          Passionate about creating innovative software solutions to drive business growth.</p>
    <!-- <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a> -->
</section>
<section class="resume-section">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="section-title">EDUCATION</h2>
            <ul class="time-line">
                <li class="time-line-item">
                    <span class="badge badge-primary">2018 - 2022</span>
                    <h6 class="time-line-item-title">Bachelor of Computer Science (Honours)</h6>
                    <p class="time-line-item-subtitle">International Islamic University Malaysia</p>
                    <p class="time-line-item-content">Majored in Software Engineering</p>
                </li>
                <li class="time-line-item">
                    <span class="badge badge-primary">2014 - 2017</span>
                    <h6 class="time-line-item-title">Institution Sainte Marie</h6>
                    <p class="time-line-item-subtitle">High School</p>
                    <p class="time-line-item-content">Baccalaureat Unique</p>
                </li>
                <li class="time-line-item">
                    <span class="badge badge-primary">2010 - 2014</span>
                    <h6 class="time-line-item-title">Institution Sainte Marie</h6>
                    <p class="time-line-item-subtitle">Secondary School</p>
                    <p class="time-line-item-content">Brevet D'etudes Superieures</p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2 class="section-title">Experience</h2>
            <ul class="time-line">
                <li class="time-line-item">
                    <span class="badge badge-primary">April 2023 - Present</span>
                    <h6 class="time-line-item-title">Executive Software Engineer</h6>
                    <p class="time-line-item-subtitle">SCICOM (MSC)BERHAD</p>
                    <p class="time-line-item-content">Customer Relationship & Management Department</p>
                </li>
                <li class="time-line-item">
                    <span class="badge badge-primary">March 2022 - Sep 2022</span>
                    <h6 class="time-line-item-title">Software Developer</h6>
                    <p class="time-line-item-subtitle">Teczo Sdn Bhd.</p>
                    <p class="time-line-item-content">Web & Mobile App Development using Flutter framework</p>
                </li>
                <li class="time-line-item">
                    <span class="badge badge-primary">2019 - 2021</span>
                    <h6 class="time-line-item-title">Freelancer</h6>
                    <p class="time-line-item-subtitle">Web Development</p>
                    <p class="time-line-item-content">UI/UX Design</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="clients-section">
    <h6 class="section-subtitle">WHAT I DO</h6>
    <h2 class="section-title">SKILLS SET</h2>
    <div class="client-logos-wrapper">
        <div class="client-logos"><img src="assets/images/ang.svg" alt="logo" class="w-100"></div>
        <div class="client-logos"><img src="assets/images/flut.svg" alt="logo" class="w-100"></div>
        <div class="client-logos"><img src="assets/images/php2.svg" alt="logo" class="w-100"></div>
        <div class="client-logos"><img src="assets/images/javascript.svg" alt="logo" class="w-100"></div>
        <div class="client-logos"><img src="assets/images/js.svg" alt="logo" class="w-100"></div>
        <div class="client-logos"><img src="assets/images/git.svg" alt="logo" class="w-100"></div>
    </div>
</section>
<section class="achievements-section">
    <h2 class="section-title">ACHIEVEMENTS</h2>
    <div class="achievement-cards-wrapper">
        <div class="media achievement-card">
            <img src="assets/images/award.svg" alt="puzzle" class="achievement-card-icon">
            <div class="media-body">
                <h5 class="achievement-card-title">First Class Degree Honours</h5>
                <p class="achievement-card-description">Dean's List Every Semester</p>
            </div>
        </div>
        <div class="media achievement-card">
            <img src="assets/images/trophy.svg" alt="puzzle" class="achievement-card-icon">
            <div class="media-body">
                <h4 class="achievement-card-title">ASEAN Data Science</h4>
                <p class="achievement-card-description">Certificate</p>
            </div>
        </div>
        <div class="media achievement-card">
            <img src="assets/images/trophy.svg" alt="puzzle" class="achievement-card-icon">
            <div class="media-body">
                <h4 class="achievement-card-title">PHP</h4>
                <p class="achievement-card-description">Udemy Certificate</p>
            </div>
        </div>
    </div>
</section>
<section class="services-section">
    <h2 class="section-title">REFERENCE</h2>
    <div class="row">
        <div class="media service-card col-lg-4">
            <!-- <div class="service-icon">
                <img src="assets/images/001-target.svg" alt="target">
            </div> -->
            <div class="media-body">
                <h4 class="service-title">Tan Boon Chan</h4>
                <p class="service-description">Senior Manager<br>
                    Scicom (MSC) BERHAD<br>
                    tan.boonchuan@scicom.com.my<br>
                    (+60) 12 631 3308
                </p>
            </div>
        </div>
        <div class="media service-card col-lg-4">
            <!-- <div class="service-icon">
                <img src="assets/images/003-idea.svg" alt="bulb">
            </div> -->
            <div class="media-body">
                <h4 class="service-title">Jayagaren Paramasivam</h4>
                <p class="service-description">Chief Technology Officer (CTO)<br>
                    Teczo Sdn. Bhd<br>
                    jayagaren@teczo.co<br>
                    (+60) 16-215 0019
                </p>
            </div>
        </div>
        <div class="media service-card col-lg-4">
            <!-- <div class="service-icon">
                <img src="assets/images/002-development.svg" alt="development">
            </div> -->
            <div class="media-body">
                <h4 class="service-title">Dr. Norzariah Binti Yahya</h4>
                <p class="service-description">Lecturer<br>
                    Department of Computer Science, IIUM<br>
                    norzariyah@iium.edu.my<br>
                    (+60) 19-303 2209
                </p>
            </div>
        </div>
    </div>
</section>

<footer>© Copyright 1993-2023 | All Right Reserved | By Mamadou Thiana Cisse</footer>
