<div class="card-container">
    <div class="container">
        <div class="wrapper">
        <div class="banner-image1"></div><br>
        <h1> PART TIME MODEL</h1>
        <p> "I have a huge passion for acting and I love being in front of the camera"</p>
        </div>
        <div class="button-wrapper"> 
        <button class="btn fill">READ MORE</button>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
        <div class="banner-image2"></div><br>
        <h1> PERHENTIAN ISLAND</h1>
        <p> "The Perhentian Islands are islands in Besut District, Terengganu, Malaysia"</p>
        </div>
        <div class="button-wrapper"> 
        <button class="btn fill">READ MORE</button>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
        <div class="banner-image3"></div><br>
        <h1> PENAND ISLAND</h1>
        <p> "Penang is a Malaysian island off the Malay Peninsula in the Strait of Malacca"</p>
        </div>
        <div class="button-wrapper"> 
        <button class="btn fill">READ MORE</button>
        </div>
    </div>
</div>

<div class="card-container">
    <div class="container">
        <div class="wrapper">
        <div class="banner-image4"></div><br>
        <h1> LANGKAWI</h1>
        <p> "Langkawi is one of the most visited places in Malaysia, it is fun and filled with party life"</p>
        </div>
        <div class="button-wrapper"> 
        <button class="btn fill">READ MORE</button>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
        <div class="banner-image5"></div><br>
        <h1> TIOMAN ISLAND </h1>
        <p> "Tioman Island, being far from the city offers calm and chill vibes. Great place to connect with nature"</p>
        </div>
        <div class="button-wrapper"> 
        <button class="btn fill">READ MORE</button>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
        <div class="banner-image6"></div><br>
        <h1> ACL SURGERY</h1>
        <p> "I underwent ACL reconstruction surgery in August 2022, one of the most difficult period of my life"</p>
        </div>
        <div class="button-wrapper"> 
        <button class="btn fill">READ MORE</button>
        </div>
    </div>
</div>