
<div class="card">
    <img class="profile-picture" src="assets/images/2.jpeg" alt="">
    <div class="card-body">
        <h2>Hi, I am Thiana and I enjoy writing codes.</h2>
        <p>CODES TO HEAVEN, LIVE FOR THE AFTERLIFE</p>
        <button class="btn btn-download-cv btn-primary rounded-pill"> <img src="assets/images/download.svg" alt="download"
            class="btn-img">GET CV 
        </button>
    </div>
</div><br><br><br>
<div class="container">
    <div class="section1">
       <section class="clients-section">
            <h6 class="section-subtitle">WHAT I DO</h6>
            <h2 class="section-title">Skill Sets</h2>
            <div class="client-logos-container">
                <div class="client-logo"><img src="assets/images/angular.svg" alt="logo" class="w-100"></div>
                <div class="client-logo"><img src="assets/images/flutter.svg" alt="logo" class="w-100"></div>
                <div class="client-logo"><img src="assets/images/php.svg" alt="logo" class="w-100"></div>
                <div class="client-logo"><img src="assets/images/html1.svg" alt="logo" class="w-100"></div>
                <div class="client-logo"><img src="assets/images/js.svg" alt="logo" class="w-100"></div>
                <div class="client-logo"><img src="assets/images/github.svg" alt="logo" class="w-100"></div>
            </div>
        </section>
    </div>
    <div class="section2">
        <div class="number-card">
            <div class="number">01</div>
            <div class="text">Year(s) of Working Experience</div>
        </div>
    </div>
</div>
<br><br>
<footer>© Copyright 1993-2023 | All Right Reserved | By Mamadou Thiana Cisse</footer>